.App {
  max-width: 720px;
  min-height: 100vh;
  margin: 0 auto;
}
.AppContent {
  min-height: 80vh;
  margin-top: 120px;
  padding-bottom: 2rem;
}
.Footer {
  padding: 10px;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  border-radius: 5px;
  background: #d2dae2;
  margin-top: 20px;
  padding: 8px;
}
.recipe {
  margin: 20px 0px;
  padding: 20px;
}
a {
  color: #007697;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html body {
  height: 100%;
}

button {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

input {
  border: 1px solid #bcbcbc;
  padding: 8px;
}